exploChallenge/ydata-fp-td-clicks-v2_0.20111002-08.txt
exploChallenge/sampleData.txt
*.idea
banditOutputs*
*.pyc
testing.txt

banditCtrOutputSummary.txt

banditRuntimeOutputSummary.txt

*.csv

exploChallenge/ydata-fp-td-clicks-v2_0.20111002-08-filtered10percent.txt

plots/*.png

banditPolicyProportionsVsEvalNumber.txt

banditPolicyProportionsVsEvalNumber.txt
